.todo-list {
  background-color: rgb(235, 236, 240);
  height: max-content;
}

.delete-button {
  color: black;
  background-color: rgba(177, 27, 27, 0.822);
  border-radius: 5px;
  padding: 5px;
}

.delete-button:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}