.todo-lists {
  grid-auto-columns: 272px;
}

.button {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}